@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Redressed&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.main-logo {
    font-family: "Redressed", Arial;
    font-size: 4em;
    padding-left: 100px;
    margin: 0 auto;
}

.home_page_image {
    background-image: url('/static/images/landing_page.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.my_cards {
    display: flex;
    justify-content: space-between;
}

.my_large_card_panel {
    position: absolute;
    top: 100px;
    left: 100px;
    height: 775px;
    width: 80%;
    z-index: 1;
    padding-bottom: 100px !important;
}

.my_small_card {
    position: absolute;
    height: 250px;
    top: 0px;
    left: 25px;
    width: 20%;
    box-sizing: border-box;
    font-family: "Redressed", Arial;
    font-size: 2em;
}

.no_margin {
    margin-bottom: 0px;
}

.lots_of_bread_image img {
    width: 100%;
    height: 200px;  
    object-fit: cover;
}

.add_recipe_image img {
    width: 100%;
    height: 100px;  
    object-fit: cover;
}

.medium_text {
    font-family: "Redressed", Arial;
    font-size: 3em;
}

.small_text {
    font-family: "Raleway", Arial;
    font-size: 1.5em;
    margin-left: 6em;
}

.description_db {
    font-family: "Raleway", Arial;
    font-size: 0.6em;
    padding: 1.0em;
}

.name_db {
    text-transform: capitalize;
}

.image_db {
    position: absolute;
    bottom: 7px;
    left: 10px;
    text-align: center;
    height: 25%;
}

.collapsible-header {
    align-items: baseline;
    text-transform: capitalize;
}

.nav-wrapper h4 {
    margin: 0;
    margin-top: .5em;
}

.text-shadow {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.5)
}

.flashes h4 {
    line-height: 2;
}

.label_ingredients {
    margin: 0px;
}

.prefix ~ label {
    margin-left: 1rem;
    font-size: 15px;
    margin-bottom: 11.6px;
}

/* all footer settings */

.footer {
    position: relative;
}

.footer .footer-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    z-index: 10;
}

.footer .row {
    margin-bottom: 0px;
}

.footer .footer-bottom i {
    padding-left: 20px;
}

#footer-copyright {
    text-align: right;
    margin: auto;
}

#footer-social {
    text-align: left;
    margin: auto;
}

#footer-social i {
    color: black;
}

#footer-social i:hover {
    color: blue;
}

