@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&family=Redressed&display=swap');

html {
    height: 100vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.main-logo {
    font-family: "Redressed", Arial;
    font-size: 4em;
    padding-left: 100px;
    margin: 0 auto;
}

.home_page_image {
    background-image: url('/static/images/landing_page.jpg');
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative; */
}

.my_cards {
    display: flex;
    justify-content: space-between;
}

.ingredients_cards {
    display: flex;
    justify-content: space-between;
}

.my_large_card_panel {
    background-color: #fff;
    width: 80%;
    box-shadow:10px 10px 5px grey;  
    margin-top: 50px;
    margin-bottom: 50px;
}

.my_small_card {
    position: absolute;
    height: 400px;
    top: 0px;
    left: 25px;
    width: 20%;
    box-sizing: border-box;
    font-family: "Redressed", Arial;
    font-size: 1.8em;
}

.large_ingredients_card {
    /* position: relative; */
    top: 100px;
    left: 100px;
    height: 475px;
    width: 80%;
    z-index: 1;
    padding-bottom: 100px;
}

.small_ingredients_card {
    position: absolute;
    height: 100% !important;
    width: 20%;
    top: 0;
    left: 25px;
    box-sizing: border-box;
    font-family: "Raleway", Arial;
    font-size: 1em;
    margin-top: 2em;
}

.small_method_card {
    position: absolute;
    height: 100% !important;
    width: 70%;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Raleway", Arial;
    font-size: 1em;
    margin-top: 2em;
}

.card-panel {
    margin-bottom: 50px;
}

.card {
    padding: 20px;
}

.no_margin {
    margin-bottom: 0px;
}

section .row {
    padding: 0;
}

.page_header {
    margin-bottom: 0;
}
.header_bold {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 20px;
}

.lots_of_bread_image img {
    width: 100%;
    height: 200px;  
    object-fit: cover;
}

.add_recipe_image img {
    width: 100%;
    height: 100px;  
    object-fit: cover;
}

.medium_text {
    font-family: "Redressed", Arial;
    font-size: 2em;
}

.small_text {
    font-family: "Raleway", Arial;
    font-size: 1.5em;
    margin-left: 6em;
}

.description_db {
    font-family: "Raleway", Arial;
    font-size: 0.55em;
    padding-top: 1em;
}

.name_db {
    text-transform: capitalize;
    font-family: "Redressed", Arial;
}

.name_db_home {
    text-transform: capitalize;
    font-family: "Redressed", Arial;
    font-size: 2em;
}

.image_db {
    position: absolute;
    padding: 10px;
    left: 10px;
    text-align: center;
    height: 50%;
}

.bottom-text {
    bottom: 5px;
}

textarea {
    height: 6rem !important;
}
.btn-small {
    margin: 5px 5px 0px 0px;
}

.collapsible .row {
    margin-bottom: 0;
}

.collapsible .row h4 {
    font-family: "Raleway", Arial;
}

.collapsible-body {
    background-color: #fff;
}

.collapsible-header {
    align-items: baseline;
    text-transform: capitalize;
}

.nav-wrapper h4 {
    margin: 0;
    margin-top: .5em;
}

.text-shadow {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.5)
}

.flashes h4 {
    line-height: 2;
}

.label_ingredients {
    margin: 0px;
}

/* .prefix ~ label {
    margin-left: 1rem;
    font-size: 15px;
    margin-bottom: 11.6px;
} */

/* all footer settings */


#footer-social {
    color: #fff;
    /* text-align: right; */
}

#footer-social li {
    display: inline-block;
    padding-right: 1em;
}

#footer-social i {
    font-size: 2em;
    color: #fff;
}

#footer-social i:hover {
    color: blue;
}

