
{% extends "base.html" %}
{% block content %}
    {% for bread in breads %}
        {{ bread.name }}<br>
        {{ bread.description }}<br>
        {{ bread.country }}<br>
        {{ bread.ingredients }}<br>
        {{ bread.method }}<br>
        {{ bread.cooking_time }}<br>
        {{ bread.cooking_temp }}<br>
        {{ bread.is_featured }}<br>
    {% endfor %}

    <ul class="collapsible">
        {% for bread in breads %}
            <li>
                <div class="collapsible-header deep-purple lighten-1 white-text text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ bread.name }}</strong> : {{ bread.description }}
                </div>
                <div class="collapsible-body">
                    <strong>{{ bread.ingredients }}</strong>
                    <p>{{ bread.method }}</p>
                </div>
            </li>
        {% endfor %}

    </ul>

{% endblock %}
     