
{% extends "base.html" %}
{% block content %}

    <section>
        <div class="row">
            <div class="col s12">
                <img src="/static/images/WB3.png" alt="a selection of baked breads" width="100%" height="100px">

            </div>
        </div>
    </section>

    <ul class="collapsible">
        {% for bread in breads %}
            <li>
                <div class="collapsible-header deep-purple lighten-1 white-text text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong>{{ bread.name }}</strong> : {{ bread.description }}
                </div>
                <div class="collapsible-body">
                    <strong>{{ bread.ingredients }}</strong>
                    <p>{{ bread.method }}</p>
                </div>
            </li>
        {% endfor %}

    </ul>

{% endblock %}
     