
{% extends "base.html" %}
{% block content %}
    {% for bread in breads %}
        {{ bread.name }}<br>
        {{ bread.description }}<br>
        {{ bread.country }}<br>
        {{ bread.ingredients }}<br>
        {{ bread.method }}<br>
        {{ bread.cooking_time }}<br>
        {{ bread.cooking_temp }}<br>
        {{ bread.is_featured }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header deep-purple lighten-1 white-text text-shadow"><i class="fas fa-caret-down"></i>Bread one</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header deep-purple lighten-1 white-text text-shadow"><i class="fas fa-caret-down"></i></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header deep-purple lighten-1 white-text text-shadow"><i class="fas fa-caret-down"></i></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>

{% endblock %}
     