
{% extends "base.html" %}
{% block content %}

    <section>
        <div class="row">
            <div class="col s12">
                <img src="/static/images/WB3.png" alt="a selection of baked breads" width="100%" height="100px">

            </div>
        </div>
    </section>

    <ul class="collapsible">
        {% for bread in breads %}
            <li>
                <div class="collapsible-header deep-purple lighten-1 white-text text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <strong class="font_Redressed">{{ bread.name }}</strong>
                    <div class="font_Raleway">{{ bread.description }}</div>
                </div>
                <div class="row collapsible-body">
                    <div class="col s6">
                        <strong>{{ bread.ingredients }}</strong>
                    </div>
                    <div class="col s6">
                        <p>{{ bread.method }}</p>
                    </div>
                    <!-- <img src="{{ bread.image_url }}" class="right" width="100px"> -->
                </div>
            </li>
        {% endfor %}

    </ul>

{% endblock %}
     