
{% extends "base.html" %}
    {% block content %}
    <section>
        <div class="row">
            <div class="col s12 lots_of_bread_image">
                <img src="/static/images/mixed_breads.jpg" alt="a selection of baked breads">
            </div>
        </div>
    </section>
    <!-- get details of bread collection from database -->
    <ul class="collapsible">
        {% for bread in breads %}
            <li>
                <div class="collapsible-header deep-purple lighten-1 white-text text-shadow">
                    <i class="fas fa-caret-down"></i>
                    <div class="medium_text">{{ bread.name }}</div>
                    <div class="small_text">{{ bread.description }}</div>
                </div>
                <div class="row collapsible-body">
                    <div class="col s6">
                        <strong>{{ bread.ingredients }}</strong>
                    </div>
                    <div class="col s6">
                        <p>{{ bread.method }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}

    </ul>

{% endblock %}
     