{% extends "base.html" %}
{% block homepage %}
<section>
    <!-- display featured breads -->
            <div class="row my_large_card_panel">
                <div class="col s12 offset s1">
                    <h1 class="medium_text white-text text-shadow deep-purple lighten-2">Featured Breads</h1>
                    <div class="row my_cards">
                        {% for bread in breads %}
                            {% if loop.index <= 4 %}
                                <div class="card small my_small_card center-align">
                                    <a href="{{ url_for('display_recipe', bread_id=bread._id) }}">
                                        <div class="white-text text-shadow deep-purple lighten-2 name_db">{{- bread.name -}}</div>
                                        <div class="description_db deep-purple-text left-align">{{- bread.description -}}</div>
                                        <div class="image_db">
                                            <img src="{{ bread.image_url }}" width="50%">
                                            <h6 class="bottom-text deep-purple-text ">Posted by: {{ bread.author -}}</h6>
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
</section>
{% endblock %}